<!DOCTYPE html>
<html lang="en">
<head th:replace="template.html::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <block th:replace="template.html:: menu"></block>
    <main>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody  th:each="job: ${jobs}">
        <tr th:object ="${job}">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>

        </tbody>
    </table>

    </main>
    <footer th:replace = "template.html::footer"></footer>

</body>
</html>