<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
<div class="container">
    <div>
        <h1 th:text="${appName}"></h1>
    </div>
    <ul class="d-flex">
        <li th:each="emp: ${employees}" class="d-flex flex-column align-items-center" >
            First name: <span th:text="${emp.firstName}"  style="margin-right: 20px;"> </span>
            Last name: <span th:text="${emp.lastName} " style="margin-right: 20px;"> </span>
            Email: <span th:text="${emp.email} "  style="margin-right: 20px;"></span>
            <a th:href="@{/employee/addForm/{id}(id=${emp.id})}">Edit</a>&nbsp;&nbsp;
        </li>
    </ul>
</div>
</body>

</html>

