*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container-body{
    background-color: #f0f2f5;
    height: 710px;
}

.row{
    margin: auto;
    width: 980px;
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.left .logo img {
    color: rgb(28, 30, 33);
    display: inline;
    height: 106px;
    margin-left: -28px;
    margin-right: -28px;
    margin-top: 40px;
    margin-bottom: -14px;
}

.intro span {
    display: block;
    font-size: 28px;
    width: 500px;
}

.right {
    width: 396px;
    height: 456px;
}

.form-block {
    background-color: white;
    /* width: 396px; */
    /* height: 310.7px; */
    padding-top: 14px;
    padding-bottom: 24px;

    line-height: 2;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1) ;
    margin:auto;
}

form input {
    height: 52.2px;
    width: 364.2px;
    padding: 16px;
    font-size: 17px;
    border-radius: 6px;
    margin-bottom: 12px;
    border: 1px solid #dddfe2;
    color:     #1d2129;
    vertical-align: middle;  
    font-weight: lighter;
    
}

.right form input:focus {
    border: ridge;
    border-width: 1px;
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1877f2;
}

form button.first {
    width: 364px ;
    height: 47.78px;
    background-color: rgb(24, 119, 242);
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

form button.second {
    width: 178.11px;
    height: 47.78px;
    background-color: rgb(66, 183, 42);
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

form a{
    display: block;
    color: rgb(24, 119, 242);
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: underline ;
}

hr{
    border: 0.2px, #DFDFDF;
    border-style: ridge;
}

form hr {
    margin: 12px;
}

.small-note {
    margin: 20px;
    text-align: center;
    font-size: 14;
}

.small-note a {
    color: black;
    font-weight: bold;
}

.footer {
    margin: auto;
    width: 980px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.6;
    font-size: 12px;
    color: rgb(115, 115, 115);
    font-family: Arial, Helvetica, sans-serif;
}



.footer a{
    display: inline-block;
    padding-left: 10px;
    font-size: 12px;
    color: rgb(138, 141, 145);
}


.footer a:first-child {
	padding-left: 0px;
}

.footer hr {
    margin: 6px;
}

.Copy-right {
    font-size: 11px;
    margin-top: 20px;
}