<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #setting-static-resources},
                                                ~{:: #setting-header},
                                                ~{:: #setting-nav},
                                                ~{:: #setting-main-content},
                                                ~{:: #setting-footer}
                                               )}">

<head>
    <title>Setting page</title>

    <th:block id="setting-static-resources">
<!--        none-->
    </th:block>

</head>

<body>

<div id="setting-header">

    <h1>SETTING</h1>
    <span class="lead">You can change your setting here</span>
</div>

<div id="setting-nav" th:replace="~{/fragments/app-fragments :: nav-default}">
    Nav
</div>

<div id="setting-main-content">
    <form class="container" th:action="@{/submitSetting}" th:object="${settingRequest}" method="post">
        <div class="row mt-3">
            <div class=" col-5 md-3 mr-3 ">
                <label>Background Color</label><br/>
                <select class="custom-select" th:field="*{bgColor}">
                    <option selected value="0">Open this select menu</option>
                    <option value="1">White</option>
                    <option value="2">Gray</option>
                    <option value="3">Orange</option>
                    <option value="4">Marron</option>
                    <option value="5">Black</option>
                </select>
            </div>

            <div class=" col-5 md-3 mr-3 ">
                <label>Font Color</label><br/>
                <select class="custom-select" th:field="*{fontColor}">
                    <option value="0" selected>Open this select menu</option>
                    <option value="1">White</option>
                    <option value="2">Gray</option>
                    <option value="3">Orange</option>
                    <option value="4">Marron</option>
                    <option value="5">Black</option>
                </select>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-7">
                <label for="customRange1" class="form-label">Font Size</label><br/>
                0.5em <input type="range" class="form-range" id="customRange1" th:field="*{fontSize}"> 3.0 em
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Setting</button>
    </form>
</div>


<div id="setting-footer" th:replace="~{/fragments/app-fragments :: copyright}">
    Footer
</div>


</body>
